<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ref: https://docs.nuget.org/consume/nuget-config-file -->
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
	<!-- Note - potentially will only download missing packages if the entire packages location is missing.
		see https://github.com/NuGet/Home/issues/451 -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
	<!-- override default packages directory -->
	<!-- Note - this location will be ignored in scm, unlike lib directory which would hold external libraries not obtained through NuGet. -->
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>